.cart-container {
  position: absolute;
  min-height: 400px;
  min-width: 300px;
  background-color: aquamarine;
}

.cart-container div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}